<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <script src="https://kit.fontawesome.com/d751855a96.js" crossorigin="anonymous"></script>
</head>
<body >
    <div id="preloader"></div>

    <ul>
        <li><a href="/Homepage">Home</a></li>
        <li><a href="/Guide">Guide</a></li>  
        <li><a href="/About">About</a></li>  
      </ul>

      
<div>
    <form action="/result" method="post">
        <div class="searchBox">
            <input class="searchInput"type="text" name="search" placeholder="Search">
            <button class="searchButton" type="submit">
            <i class="fa-brands fa-searchengin"></i>
            </button>
        </div>
    </form>
</div>
    <script>
        var loader = document.getElementById("preloader");

        window.addEventListener("load",function(){
            loader.style.display = "none";
        });
    </script>
</body>
</html>