<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tweet.css') }}">
    <title>Tweets</title>
</head>
<body>
  <div id="preloader"></div>
  <ul>
    <li><a href="/Homepage">Home</a></li>
    <li><a href="/Guide">Guide</a></li>  
    <li><a href="/About">About</a></li>  
  </ul>
    <div class="centered">
        <table cellspacing="0">
          <tr>
            {% for header in headings %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
          {% for row in data %}
          <tr>
            {%  for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
      <script>
        var loader = document.getElementById("preloader");

        window.addEventListener("load",function(){
            loader.style.display = "none";
        });
    </script>
</body>
